In [3]:
import pandas as py #Importing the pandas library for data analysis

In [4]:
dataset = py.read_csv("Salary.csv") #loading the dataset for data analysis from the user

In [5]:
dataset #printing/displaying the loaded dataset from the user

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
independent = dataset[["YearsExperience"]]
independent #Creating a variable callled as independent to assign the column value of "Years of Experience" which is 'X' value

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
dependent = dataset[["Salary"]]
dependent #Creating a variable callled as dependent to assign the column value of "Salary" which is 'Y' value

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [8]:
from sklearn.model_selection import train_test_split #importing the train_test_split function from sklearn to create train and test datasets

In [64]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.3,random_state=0) #separating the train and test data set using test_size value and random state controls the shuffling of train and test datasets

In [68]:
x_train,x_test,y_train,y_test #displaying the train and test datasets

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0)

In [15]:
from sklearn.linear_model import LinearRegression #importing linearregression function from sklearn library

In [16]:
regressor = LinearRegression() #assigning the variable regressor to LinearRegression function

In [17]:
regressor.fit(x_train,y_train) #assgining the training data to fit model

LinearRegression()

In [18]:
weight=regressor.coef_ #finding the slope / weight of the simple linear regression and assigning it to a variable called "Weight"

In [19]:
bias=regressor.intercept_ #finding the origin / starting point / intercept / bias of the simple linear regression and assigning it to a variable called "Weight"

In [20]:
weight,bias #displaying the values of weight and bias

(array([[9360.26128619]]), array([26777.3913412]))

In [21]:
from sklearn.metrics import r2_score #importing r2_score function to predict the r2_score to assess the model

In [22]:
y_predict = regressor.predict(x_test) #creating a variable as y_predict and passing the test data value to the predict function

In [23]:
y_predict #displaying the values y_predict using x_test

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [24]:
r2_score = r2_score(y_test,y_predict) #finding the r2 value to assess the model

In [25]:
r2_score #if the r2 score is equal to or near to 1 then the model is performing good

0.9740993407213511

In [29]:
if(r2_score<=1):
    print("The predicted model is good, Please save it")
else:
    print("The predicted model is not good")

The predicted model is good, Please save it

In [30]:
import pickle #importing pickle class to save the model for the deployment phase

In [37]:
filename = "finalized_model_simple_linear_regresssion.sav" #assigning a name to the model

In [38]:
pickle.dump(regressor,open(filename,'wb')) #Saving/writing the model to the file titled "finalized_model_simple_linear_regresssion.sav"

In [39]:
loaded_model = pickle.load(open("finalized_model_simple_linear_regresssion.sav",'rb')) #loading/reading the saved model to the variable "loaded_model"

In [43]:
result=loaded_model.predict([[17]]) #predicting the salary for 17 years of experience

C:\Users\maria\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [44]:
result #predicted salary for 17 years of experience

array([[185901.83320649]])

In [63]:
sal = int(input("Enter the years of experience")) #obtaining the user input for the years of experience and dispalying the result
result=loaded_model.predict([[sal]])
result

Enter the years of experience11

C:\Users\maria\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[129740.26548933]])